@CHARSET "UTF-8";

/* 인덱스 화면 css입니다. 
 *
 *
 *
 */
 
body {
	background-image:url("../imagesource/index_bg.jpg");
	background-size:100%;
	background-repeat: no-repeat;
}

#login { color:#0E346B; width: 89%; height: 45px; border: 2px solid #0D336A; border-radius:10px; margin : 8px 0 0 5%; font-size: x-large;	cursor: pointer; background-color: #7ECBBE; box-shadow: 2px 2px 15.5px #888888; text-shadow: 2px 2px 5.5px #888888; }
#other-id { border : 1px dashed white; margin: 20px 0; height: 55px; text-align: center; }
#nomemlogin { border: 2px solid #0D336A; border-radius: 10px; width:149.281px; height:238px; padding:20px; background-color:#7DCABD; box-shadow:2px 2px 15.5px #888888; }
#nomemlogin > p { color:#3B0C54; font-size:medium; font-weight: bolder; text-align: center; margin:0.5em 0; }
#nomemlogin > h2 { font-weight: bolder; text-align: center; margin-top:19px; text-shadow: 2px 2px 5.5px #888888; }
#centre-form { width: 600px; height:300px; margin: 0 auto; top: 36%; border:4px solid #0D336A; border-radius: 10px; background-color: #B6CC95; }
#title { margin: 7% 0 0 0; font-size:4em; font-weight: bold; }
#subtitle { font-size: 1em; }
#log-form { width: 580px; height: 280px; margin: 8px auto; }
#member,#line,#nonmember { float:left; }
#member { width: 63%; height: 100%; }
#line { border: 3px dashed #0D336A; height: 100%; margin : 0 6px; }
#nonmember { width: 33%; height: 100%; cursor: pointer; }
#upasswd { margin-top: 4px !important; }
#member-bottom { margin: 15px 0 4px 0; text-align: center; }
#member-bottom > a { text-decoration: none; }

<!-- 부트스트랩 충돌 정리 -->
#title {
margin: 7% 0 0 0;
font-size: 4em;
font-weight: bold;
}
#title, #subtitle {
text-align: center;
}
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: inherit !important;
}
user agent stylesheetdiv {
display: block;
}
Pseudo ::before element
*:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: inherit !important;
}
hr {
margin : 3px !important;
}